/* CSS style sheet */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}

ul,li{
    list-style: none;
}

.main_header {
    width: 100%;
    height: 40px;
    background-color: black;
}

.header > #logo {
    padding-top: 20px;
    float: left;
}

.header > #menu {
    float: right;
}

.header > #menu >li {
    float: left;
    font-size: 20px;
}

.header > #menu > li > a {
    font-weight: bold;
    color: black;
    display: inline-block;
    width: 180px;
    text-align: center;
    padding: 40px 0 40px 0;
}

.header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
}

#visual > img {
    display: block;
    margin: 0 auto;
}

.visual-menu {
    /*width: 1920px;
    width: 100%;*/
    height: 42px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(0,0,0,0.5);
    bottom: 39px;
}

.visual-menu > ul {
    margin: 0 auto;
    display: inline-block;
    padding-top: 9px;
}

.visual-menu > ul > li {
    float: left;
}

.visual-menu > ul > li > a{
    color: aliceblue;
    padding: 10px 30px;
}

.visual-menu > ul > li > a.on{
    opacity: 1;
    background-color: black;
}

.visual-menu > ul > li > a:hover{
    opacity: 0.5;

}

.content-section {
    margin-top: 30px;
}

.content-section > .container {
    width: 1200px;
    height: 300px;
    background-color: chocolate;
    margin: 0 auto;
}

#footer {
    margin: 50px 0 0 0;
    background: #323232;
}

#footer > .container {
    background: #323232;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}

#footer > .container > h1 > img {
    float: left;
}

.footer-menu {
    float: left;
    width: 1200px;
    padding: 20px 0 30px 0;
}

.footer-menu > ul > li {
    display: inline-block;
    float: left;
    width: 110px;
    box-sizing: border-box;
    font-size: 12px;
}