/* CSS style sheet*/

/* 가운데 컨텐츠영역 */
#content {
    width: 100%;
    /*max-width: 1200px;*/
    /*height: 800px;*/
    margin: 0 auto;
    box-sizing: border-box;
    /* css flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h3-absolute.h3-white {
    color: white;
    padding: 10px 0 10px 0;
    font-size: 1.4rem;
}

.be-section {
    position: relative;
    width: 100%;
    /*height: 200px;*/
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    /* css flex */
    display: flex;
    justify-content: center;
}

.column-locate {
    /* css flex */
    align-items: center;
    flex-direction: column;
}

.be-section-wrap {max-width: 1200px;}

.slides-content > li > .content-feature > h2 {
    font-size: 2.0em;
    margin-bottom: 20px;
}

.slides-content > li > .content-feature > p {
    margin-bottom: 30px;
}

.slides-content > li > .content-feature > p > a:hover {
    color: white;
    opacity: 0.5;
}

.be-section.row-locate.wrap {
    /*position: relative;*/
    /*margin: 0 auto;*/
    padding: 60px 0 60px 0;
}

.be-section.row-locate {
    /*position: relative;*/
    /*display: block;*/
    /*margin: 0 auto;*/
}

.be-section.row-locate > .slides-content {
    width: 100%;
    max-width: 2048px;
    height: 400px;
    min-height: 200px;
    /* css flex*/
    display: flex;
}

.be-section > .slides-content {
    /* css flex */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.be-section > .slides-content > li {
    width: 100%;
    max-width: 2048px;
    position: relative;
    /* css flex */
    display: flex;
    justify-content: center;
}

.be-section > .slides-content > li > .content-feature {
    width: 100%;
    padding: 40px 30px;
    box-sizing: border-box;
    max-width: 580px;
    /* css flex */
}

.be-section > .slides-content > li > .content-display {
    width: 49%;
}

.be-section > .slides-content > li > .content-display > img {
    min-width: 800px;
    min-height: 400px;
    max-height: 400px;
}


.sentence-wrap {
    /*z-index: 3;*/
    max-width: 1200px;
    text-align: center;
    /* css flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sentence-wrap > h1 > span > .wrap {
    border-right: 4px solid #a7a7a7;
}

.sentence-wrap > img {
    opacity: 0.5;
    width: 50px;
}

.background-semi-circle {
    display: block;
    width: 100%;
    height: 180px;
}

/* 반원영역 그리기 */
.background-semi-circle:after {
    content: '';
    display: inline-block;
    background-color: rgba( 255, 255, 255, 1 );
    width: 105%;
    border-radius: 50%;
    height: 250px;
    position: absolute;
    bottom: -110px;
    min-width: 1100px;
    left: 50%;
    transform: translateX(-50%);
}

.be-section-wrap > header {
    margin-bottom: 50px;
}

.be-section-wrap > .row-text > header > p {
    font-weight: bold;
}

.be-section-wrap > .ui-card {
    /* css flex */
    display: flex;
    justify-content: space-around;
}

.be-section-wrap > .ui-card > .ui-card-link {
    position: relative;
    width: 30%;
    padding-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    box-shadow: 0 0 20px -2px rgb(0 0 0 / 25%);
    transition-duration: 0.3s;
}

.be-section-wrap > .ui-card > .ui-card-link > a {
    position: absolute;
    bottom: 35px;
    left: 20px;
    font-weight: 700;
}

.be-section-wrap > .ui-card > .ui-card-link > .ui-card-content {
    padding: 20px 20px 50px 20px;
    text-align: left;
    font-weight: 500;
}

.be-section-wrap > .ui-card > .ui-card-link > .ui-card-content > h3 {
    font-size: 1.3em;
    margin-bottom: 25px;
}

.be-section-wrap > .customer-logo > img {
    max-width: 500px;
}

.feature-block {
    text-align: left;
    /* css-flex */
    display: flex;
    justify-content: space-around;
}

.feature-block > .feature-block-items {
    padding: 40px 0 40px 0;
    margin-left: 50px;
}

.feature-block > .feature-block-items > a {
    position: absolute;
    bottom: 10px;
}

.feature-block > .feature-block-items:nth-child(1) {
    margin-left: 0;
}

.feature-block > .feature-block-items > .feature-block-content > h3 {
    margin-bottom: 20px;
}

.promo-content {
    /* css flex */
    display: flex;
}

.promo-content > .content-ultimate {
    width: 65%;
}

.promo-content > .content-promo-feature {
    margin-left: 50px;
    width: 33%;
}

.promo-content > .content-promo-feature > ul {
    padding-bottom: 20px;
    font-weight: bold;
   /* css flex*/
    display: flex;
}

.promo-content > .content-promo-feature > ul > li:nth-child(1) {
    padding-right: 15px;
}

.promo-content > .content-promo-feature > ul > li:nth-child(2) {
    padding: 0 15px 0 15px;
    border-left: 1px solid white;
}

/* 클래스 추가입력 요망 */
/*.content-font-white > p > a:hover {*/
/*    color: white;*/
/*    opacity: 0.5;*/
/*}*/

.content-font-white.hover-white:hover {
    color: white;
    opacity: 0.5;
}

.ui-card-link > h3 {
    z-index: 10;
}

.be-section.row-locate > ol {
    width: 150px;
    background-color: transparent;
    position: absolute;
    left: 300px;
    bottom: 50px;
    /* css flex */
    display: flex;
    justify-content: space-between;
}

.be-section.row-locate > ol > li {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s;
}

.be-section.row-locate > ol > li:hover {
    opacity: 1;
}

.be-section.wt {
    flex-direction: column;
    align-items: center;
}

.wt-header {
    min-width: 1200px;
    margin-bottom: 30px;
}

.wt-slides-section-wrap {
    /* css flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wt-slides-section-wrap > .wt-logo {
    /*width: 100%;*/
    width: 900px;
    padding-bottom: 50px;
    /* css flex*/
    display: flex;
    justify-content: space-around;
}

.wt-slides-section-wrap > .wt-logo > li {
    width: 14%;
    position: relative;
    cursor: pointer;
    /* css flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wt-slides-section-wrap > .wt-logo > li:before {
    opacity: 1;
    content: '';
    background: #888;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wt-slides-section-wrap > .wt-logo > li:after {
    opacity: 1;
    content: '';
    background: #aaa;
    display: inline-block;
    position: absolute;
    margin-bottom: -15px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
}

.wt-slides-section-wrap > .wt-logo > li > img {
    filter: grayscale(1);
    width: 100%;
}

.wt-list-wrap {
    position: relative;
}

.wt-list-wrap > .wt-list-slide {
    width: 1000px;
    /* js slide 구현 */
    overflow: hidden;
}

.wt-list-wrap > .wt-list-slide > ul {
    display: flex;
    transition: all 1s;
}

.wt-list-wrap > .wt-list-slide > ul > li {
    margin: 0 100px 0 100px;
}

.wt-list-wrap > .wt-list-slide > ul > li > div {
    max-width: 800px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.wt-list-wrap > .wt-list-slide > ul > li > div > div {
    /* css flex */
    display: flex;
}

.wt-list-wrap > .wt-list-slide > ul > li > div > div > div:nth-child(1) {
    width: 40%;
    padding-right: 40px;
}

.wt-list-wrap > .wt-list-slide > ul > li > div > div > div:nth-child(2) {
    width: 55%;
    text-align: left;
}

.wt-list-wrap > .wt-list-slide > ul > li > div > div > div:nth-child(2) > h3 {
    font-size: 1.5em;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.wt-list-wrap > .wt-list-slide > ul > li > div > div > div:nth-child(2) > p {
    font-size: 0.9em;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.wt-list-wrap > .wt-list-slide > ul > li > div > div > div:nth-child(2) > a {

}

.wt-list-wrap > .wt-list-slide > ul > li > div > div > div:nth-child(2) > figure {
    margin-top: 20px;
    padding-left: 20px;
    border-left: 5px solid #21a3d4;
}

.wt-list-wrap > .wt-list-slide > ul {

}

.wt-logo > li > img {

}