/* CSS style sheet */

#footer-wrap {
    background-color: #111111;
}

/* footer 상단 (덜 검정배경) */
#footer-wrap > #top-footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*height: 422px;*/
    color: aliceblue;
    padding: 50px 0 50px 0;
    background: transparent;
    /* css flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index:5;
}

#footer-wrap > #top-footer > .footer-wrap-icons {
    max-width: 1200px;
    margin: 0 20px 30px 20px;
    /* css flex */
    display: flex;
}

#footer-wrap > #top-footer > .footer-wrap-icons > a {
    width: 35px;
    height: 35px;
    padding: 0 20px 0 20px;
}

#footer-wrap > #top-footer > .footer-wrap-icons > a > object{
    position: relative;
    width: 35px;
    height: 35px;
    padding: 0 20px 0 20px;
}

#footer-wrap > #top-footer > .footer-wrap-link-news {
    width: 100%;
    letter-spacing: -1px;
    /* css flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer-wrap > #top-footer > .footer-wrap-link-news > .footer-menu-block {
    width: 68.75%;
    order: 0;
    box-sizing: border-box;
    /* css flex */
    display: flex;
    justify-content: space-evenly;
}

#footer-wrap > #top-footer > .footer-wrap-link-news > .footer-menu-block > .footer-ui {
    /* css flex */
    display: flex;
    flex-direction: row;
}

#footer-wrap > #top-footer > .footer-wrap-link-news > .footer-menu-block > .footer-ui > .footer-menu-list li, .category {
    line-height: 1.2em;
    position: relative;
    margin-bottom: 15px;
    margin-right: 20px;
}

#footer-wrap > #top-footer > .footer-wrap-link-news > .footer-menu-block > .footer-ui > .footer-menu-list li > ul {
    color: #a7a7a7;
}

#footer-wrap > #top-footer > .footer-wrap-link-news > .footer-news-block {
    width: 23%;
    order: 1;
    box-sizing: border-box;
    margin-left: 2.5%;
    padding-left: 2.5%;
    border-left: 1px solid aliceblue;
}

#footer-wrap > #top-footer > .footer-wrap-link-news > .footer-news-block > .newsLetter > .newsLetter-header {
    /* css flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsLetter-text-h5 {
    font-size: 1.125rem;
    font-weight: bold;
}

.newsLetter-sign-btn {
    border: 1px solid #0099ff;
    background: #0099ff;
    color: #fff;
    padding: 0.75em 1.25em;
    font-size: 0.8em;
    text-align: center;
    text-transform: uppercase;
    transition: all .4s;
    cursor: pointer;
}

#footer-wrap > #top-footer > .footer-wrap-legal {
    width: 100%;
    max-width: 980px;
    margin-top: 10px;
    /* css flex */
    display: flex;
    justify-content: center;
}

#footer-wrap > #top-footer > .footer-wrap-legal > .footer-ui > .footer-menu-list {
    /* css flex */
    display: flex;
    flex-direction: row;
}

#footer-wrap > #top-footer > .footer-wrap-legal > .footer-ui > .footer-menu-list > li:nth-child(2) {
    margin: 0 20px 0 20px;
}

#footer-wrap > #top-footer > .footer-wrap-legal > .footer-ui > .footer-menu-list > li > a {
    color: #a7a7a7;
    font-size: 0.8em !important;
}

#footer-wrap > #top-footer > .footer-wrap-legal > .footer-ui > .footer-menu-list > li > span {
    color: #ffffff66;
    font-size: 10px;
}

/* footer 하단 (완전 검정 배경)*/
#footer-wrap > #bottom-footer {
    width: 100%;
    padding: 25px 10px 25px 10px;
    background-color: #000000;
    text-align: center;
    /* css flex */
    display: flex;
}

#footer-wrap > #bottom-footer > #bottom-footer-wrap {
    max-width: 1200px;
    padding: 0 10px;
    /*position: relative;*/
    margin: 0 auto;
    /*box-sizing: border-box;*/
}

#footer-wrap > #bottom-footer > #bottom-footer-wrap > span {
    font-size: 14px;
    text-align: center;
    color: #868686;
}