/* CSS style sheet */

/* 공통 */
*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{
    text-decoration: none;
    font-weight: bold;
    transition: all .25s linear;
    color: #21a3d4;
    cursor: pointer;
}
a:hover {
    color: #0000ff;
}

/* 마우스로 드래그시 */
::selection {
    background: black;
    color: white;
}

/* 전체영역 */
#main {
    width: 100%;
}

