<!-- CSS style sheet -->
#container {
    width: 700px;
    margin: 0 400px 0 400px;
}
#header {
    margin: 0 400px 0 400px;
}
#content {
    width: 700px;
    margin: 0 400px 0 400px;
}
.hyper {
    text-align: center;
}
/*.inputs {
    margin: 0 auto;
    width: 100%;
}*/
.int {
    width: 500px;
}
.white-box {
    width: 100%;
}

