/* CSS style sheet */

/* 선택자
    .
    #
    element name(div, body, a, ul ...)
    >
    속성 선택자 (상세하게 적는 선택자)

*/

/*
input {

}*/

/* div와 input 모두 css를 먹었다. */
/*
#icon3 {
    height: 200px;
    background: red;
}
*/

/* icon중에 ~~만 선택하고싶어 -> 속성선택자 사용 */
/* 모든 input element중에서 icon이라는 id를 가진 element한테~ */
/* 화면을 가릴때 쓰는 속성값 display: none; (화면에서만 안보인다. 삭제랑 다른개념) */
/* :checked check가 된 상태와 안된상태에 각각 css를 적용 시킬 수 있다. (ex 햄버거바)*/
/*input[id="icon3"]:checked {
    width: 100px;
    height: 100px;
    display: none;
}

input[id="icon3"] {
    width: 10px;
}*/

/* 인접 접근자 + */
/* 같은 선상에 있는 요소도 선택할 때 사용한다. */
/*input[id="icon3"] {
    display: none;
}*/

input[id="icon3"] + label {
    width: 10px;
    background: red;
}


/* label도 인라인 이기 때문 */
input[id="hamburger"] {
    display: none;
}

/*body {
    height: 500px;
}*/

input[id="hamburger"] + label {
    display:block;
    width: 130px;
    height: 100px;
    cursor: pointer;
    position: relative;
}

input[id="hamburger"] + label > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 13px;
    border-radius: 30px;
    background: black;
    /* transition: 애니메이션 주는 css 중 하나. */
    transition: all 0.35s;
    z-index: 2;
}
/* 같은 span이지만 각 span마다 다른 css를 적용시키고 싶다. */
/* :nth-child() 가상선택자 */
/* 안에 있는 숫자에 따라서 선택할 수 있다. */
input[id="hamburger"] + label > span:nth-child(1) {
    top: 0px;
}

input[id="hamburger"] + label > span:nth-child(2) {
    /*margin-top: 20px;*/
    /* relative안에 absolute가 있으면 relative안에서 논다. (부모에 relative, 자식에 absolute)*/
    top: 50%;
    /* element요소는 기준점이 왼쪽 상단이기 때문에 px단위로 조정을 해야한다. */
    /* 근데 이걸 편하게 해주는게 transform. */
    /* element를 변형할때 쓴다. 늘린다거나 줄인다거나 할때 등등 여러가지 모션을 줄때, 모양을 바꿀 떄. */
    transform: translateY(-50%);
}

input[id="hamburger"] + label > span:nth-child(3) {
    /*margin-top: 1px;*/
    bottom: 0px;
}

input[id="hamburger"]:checked + label > span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="hamburger"]:checked + label > span:nth-child(2){
    opacity: 0;
}

input[id="hamburger"]:checked + label > span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

/* -300px로 보내놔서 안보이게 했다가, check시 600px을 줘서 보이게 하자 */
#hamburger + label + #header {
    /* 메뉴가 따라다니는 효과를 주려면 */
    position: fixed;
    width: 300px;
    height: 100%;
    background: #333;
    top: 0px;
    padding: 60px 25px 25px 25px;
    /* 사이즈가 늘어나는게 싫다면 */
    box-sizing: border-box;
    left:-300px;
    transition: all 0.35s;
    z-index: 1;
}

#hamburger:checked + label + #header {
    left: 0;
}

#hamburger:checked + label + #header > ul {
    margin-top: 100px;
}